node_modules/
backend/chromedriver.exe
.coverage
.sources/
v-env*/
__pycache__/
.vscode/
*.zip
word_vectors/
see_json.json
*.pem 
commands.txt
Pipfile*
model-dependencies/*

#Ignore environment configs
deep-cite-config.json
*.env
backend/aws/rds/database_config.json

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/