node_modules/
backend/nlp/word_vectors/GoogleNews-vectors-negative300.bin
backend/nlp/__pycache__
backend/__pycache__
backend/nlp/.coverage
backend/nlp/vector.py
backend/word_vectors/GoogleNews-vectors-negative300.bin
backend/.coverage
backend/chromedriver.exe
.coverage
