/* custom.css - this will contain all our custom css styles. */
body {
  font-size: 100%;
  font-weight: italic;
}

.main {
  font-family: 'Alfa Slab One', 'Anton', sans-serif;
  overflow: hidden;
  width: 400px;
  /* max-height: 800px; */
  overflow:auto;
  margin: 0px;
  padding: 15px;
  padding-top: 0px;
  background: #85ACF4;
  font-weight: strong;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(22,45,88,1) 0%);
  background: #78A1BB;
  color: white;

}

#no-padding{
   padding: 0px;
   margin: 0px;
}

.card-image{
  width: 40%;
}

#links{
 overflow:auto;
 padding: 0px;
}

.result {
  background: #ffffff99;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow-wrap: break-word;

}

.result-text{
  font-style: italic;
  font-weight: bold;
  color: #395060;
}

textarea {
    max-width: 100%;
    max-height: 400px;
    min-height: 35px;
    min-width: 100%;
}